<header class="main-header">
  <div class="header-container">
    <div class="logo">
      <h1>Hyperlume</h1>
    </div>
    <nav class="nav-menu">
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/about">OurTeam</a></li>
        <li><a href="/upload">Upload</a></li>
        <li><a href="/view">View Submission</a></li>
      </ul>
    </nav>
    <div class="auth-buttons">
      <!-- <button class="btn login">Login</button> -->
      <a href="/register" class="btn register">Register</a>
    </div>
  </div>
</header>
